<h3 style="margin-top: 3%">Add a Thing to Do!</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="category" type="text" class="validate">
                <label for="category">Category</label>
            </div>
            <div class="input-field col s6">
                <input id="activity" type="text" class="validate">
                <label for="activity">Activity</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="rating" type="text" class="validate">
                <label for="rating">Rating</label>
            </div>
            <div class="input-field col s6">
                <input id="price" type="text" class="validate">
                <label for="price">Price</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea type="description" id="textarea" class="materialize-textarea" style="height: 176px;"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
    </form>
</div>

    <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">Add
        <i class="material-icons right">send</i>
    </button>