<div class="row" style="margin-top: .5%">
    <div class="col s8"><span class="flow-text">
        <h4 class="center">Current Spending</h4><hr></span>
            <div class="row">
                <div class="col s12">
                    <table class="striped">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Cost</th>
                                <th>Remaining</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Ice Skating</td>
                                <td>$15.00</td>
                                <td>$985</td>
                            </tr>
                            <tr>
                                <td>Dinner</td>
                                <td>$9.00</td>
                                <td>$976</td>
                            </tr>
                            <tr>
                                <td>Amusement Park</td>
                                <td>$35.00</td>
                                <td>$941</td>
                            </tr>
                            <tr>
                                <td>Plane Ticket to California</td>
                                <td>$450</td>
                                <td>$491</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div></div>
    <div class="col s4"><span class="flow-text">
        <h4 class="center">Budgeting</h4><hr>
        <div class="row">
            <div class="input-field col s12">
                <input id="description" type="text">
                <label for="description">Description</label>
            </div>
            </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="price" type="number">
                <label for="price">Amount</label>
            </div>
            </div>
            <div class="col s12">
            <button id="budget_submit" class="btn waves-effect waves-light col s12">Add to Budget</button>
        </div>
    </span></div>
</div>

<div class="fixed-action-btn">
    <a href="#" class="btn-floating grey darken-4 btn-large"><i class="large material-icons">menu</i></a>
    <ul>
        <li><a href="/budget" class="btn-floating green darken-4 btn-large" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="large material-icons">attach_money</i></a></li>
    </ul>
</div>