<div class="row">
    <div class="col s12">
        <h2 class="center">Things to Do!</h2>
        <table class="striped">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Category</th>
                        <th>Price Range</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Ice Skating</td>
                    <td>Outdoors</td>
                    <td>$15.00</td>
                    <td>7/10</td>
                    <td><a href="#" class="right">More Info</a></td>
                    </tr>
                    <tr>
                    <td>Amusement Park</td>
                    <td>Outdoors</td>
                    <td>$20.00</td>
                    <td>8/10</td>
                    <td><a href="#" class="right">More Info</a></td>
                    </tr>
                    <tr>
                    <td>EchoStage</td>
                    <td>Outdoors</td>
                    <td>$45.00</td>
                    <td>8/10</td>
                    <td><a href="#" class="right">More Info</a></td>
                    </tr>
                    <tr>
                    <td>Museum</td>
                    <td>Outdoors</td>
                    <td>$9.99</td>
                    <td>4/10</td>
                    <td><a href="#" class="right">More Info</a></td>
                    </tr>
                </tbody>
                </table>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="#" class="btn-floating grey darken-4 btn-large"><i class="large material-icons">menu</i></a>
<ul>
    <li><a href="/add" class="btn-floating indigo darken-4 btn-large" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="large material-icons">add</i></a></li>
    <li><a href="#" class="btn-floating brown darken-4 btn-large" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="large material-icons">mode_edit</i></a></li>
    <li><a href="#" class="btn-floating teal darken-4 btn-large" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="large material-icons">check</i></a></li>
    <li><a href="/budget" class="btn-floating green darken-4 btn-large" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="large material-icons">attach_money</i></a></li>
</ul>
</div>