body, nav {
    font-family: 'Julius Sans One', sans-serif;
}
.brand-logo {
    margin-left: 1%;
}
.indicator-item.active, .btn {
    background-color: #212121 !important;
}
.small-text {
    font-size: 18px;
    color: white !important;
}
.card-content {
    background-color: #2E2E2E !important;
    padding: 20px 20px 10px !important;
}
.card-action {
    background-color: #212121 !important;
    padding:  10px 20px 10px !important;
}